<div class="products">
<h1>Product Page</h1>
<div *ngFor="let product of products" class="product">
  <h2>{{ product.productName }}</h2>
  <p>{{ product.Description }}</p>
  <p>Price: ${{ product.Price }}</p>
  <button (click)="addToCart(product)">Add to Cart</button>
</div>
</div>


<div class="products">
  <h1>Cart Page</h1>
  <div *ngFor="let product of carts" class="product">
    <h2>{{ product.productName }}</h2>
    <p>{{ product.Description }}</p>
    <p>Price: ${{ product.Price }}</p>
  </div>
</div>

